{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <h1>Login</h1>
        <div class="col-md-4">
            <form action="" method="post">
                <div class="form-group">
                    <label for="loginEmail">Email:</label>
                    <input type="email" class="form-control" id="loginEmail" name="loginEmail" required>
                </div>
                <div class="form-group">
                    <label for="loginPassword">Password:</label>
                    <input type="password" class="form-control" id="loginPassword" name="loginPassword" required>
                </div>
                <div class="form-group text-center">
                    <input type="submit" class="btn btn-primary" value="Login">
                </div>
            </form>
            <a class="nav-link" href="/signup">Signup</a>
        </div>
    </div>
</div>


{% endblock content %}