
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand border p-2" href="/">SimplyWrite</a>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/note">Notes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Profile</a>
            </li>
            {% if False %}
                <li class="nav-item">
                    <a class="nav-link" href="/">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login/Signup</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>