{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <h1>Notes</h1>
        {% for i in array %}
        <div class="col-md-6">
            <form action="">
                <div class="form-group">
                    <textarea class="form-control" name="message" rows="10">{{i}}</textarea>
                </div>
                <div class="form-group text-center">
                    <input type="submit" class="btn btn-primary" value="Save">
                </div>
            </form>
            <hr>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}