{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <h1>Sign Up</h1>
        <div class="col-md-4">
            <form action="signup.php" method="post">
                <div class="form-group">
                    <label for="signupName">Name:</label>
                    <input type="text" class="form-control" id="signupName" name="signupName" required>
                </div>
                <div class="form-group">
                    <label for="signupEmail">Email:</label>
                    <input type="email" class="form-control" id="signupEmail" name="signupEmail" required>
                </div>
                <div class="form-group">
                    <label for="signupPassword">Password:</label>
                    <input type="password" class="form-control" id="signupPassword" name="signupPassword" required>
                </div>
                <div class="form-group text-center">
                    <input type="submit" class="btn btn-success" value="Sign Up">
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}